node_modules
.tools
.next
dist
coverage
*.tsbuildinfo
.env
*.db
*.db-shm
*.db-wal
storage/database/*
storage/backups/*
storage/uploads/*
!storage/database/.gitkeep
!storage/backups/.gitkeep
!storage/uploads/.gitkeep
!storage/uploads/inbound/
storage/uploads/inbound/*
!storage/uploads/inbound/.gitkeep
!storage/uploads/outbound/
storage/uploads/outbound/*
!storage/uploads/outbound/.gitkeep
